    @import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Syriac+Western:wght@100..900&display=swap');



    /*Seletor Geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


    /*ROOT COM FONTES E CORES*/
:root {
    /*CORES*/
    --fundo: #040b21;
    --botao: #733EB7;
    --degradê1: #431766; /*Essa tambem é a cor de fundo dos cards do depoimento!*/
    --degrade2: #7844D2;/*Essa cor tambem sera usada como cor de fundo nos cards do case de sucesso!!*/
    --degrade3: #7241C8;
    --degradê4: #29144D;
    /*Agora é o degradê serviço*/
    --degradê-serviço1: #FFFFFF;
    --degradê-serviço2:#B109FF;
    --degradê-serviço3: #3F0073; /*Essa cor tambem sera usada como cor de fundo, na parte case de sucesso!!*/
    /*FONTES*/
    --menu: "Public Sans", sans-serif;
    --h1: "Momo Trust Display", sans-serif;
    --h2:  "Kanit", sans-serif;
    --paragrafo: "Sanchez", serif;
    --paragrafo-do-depoimento: "Vollkorn", serif;
    --botão-fonte: "Noto Sans Syriac Western", sans-serif;
}


/*BODY*/
body  {
    background-color: var(--fundo);
}


/*HEADER PARTE DO CABEÇALHO, LOGO LINKS ETC*/
header {
    width: 100%;
    padding: 5px 7%;
}


/*HEADER NAV*/
header nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


/*HEADER NAV IMG*/
header nav img {
    width: 100px;
    height: 100px;
}


/*PARTE DOS LINKS UL*/
header nav ul {
    display: flex;
    list-style: none;
}


/*PARTE DOS LINKS LI*/
header nav ul li {
    margin: 10px;
}


/*PARTE DOS LINKS (A)*/
header nav ul li > a {
    color: white;
    font-family: var(--menu);
    text-decoration: none;
    transition: .3s;
}


/*PARTE DOS LINKS (A) HOVER*/
header nav ul li > a:hover {
    color: rgb(144, 144, 144);
    text-decoration: underline;
}


/*PARTE DO BOTÃO CONTATO*/
header nav > a {
    color: white;
    background-color: var(--botao);
    text-decoration: none;
    padding: 13px;
    border-radius: 21px;
    font-weight: 600;
    font-family: var(--botão-fonte);
    transition: .3s;
}


/*PARTE DO BOTÃO CONTATO HOVER*/
header nav > a:hover {
    color: grey;
    background-color: #421c75;
}


/*MENU HAMBURGUER*/
header nav #burguer-menu {
    cursor: pointer;
    color: white;
    display: none;
}


/*PARTE DO MENU MOBILE*/
header #menu-Mobile {
    display: flex;
    align-items: end;
    flex-direction: column;
}

/*MENU MOBILE (UL)*/
header #menu-Mobile ul {
    display: none;
    list-style: none;
}


/*MENU MOBILE (LI)*/
header #menu-Mobile ul > li {
    padding: 20px;
}


/*MENU MOBILE (A)*/
header #menu-Mobile ul > li > a {
    color: white;
    font-family: var(--menu);
    text-decoration: none;
}


/*MENU MOBILE (BOTÃO)*/
header #menu-Mobile > ul > li .btn-contato {
    color: white;
    background-color: var(--botao);
    text-decoration: none;
    padding: 13px;
    border-radius: 21px;
    font-weight: 600;
    font-family: var(--botão-fonte);
    transition: .3s;
} 


/*MENU MOBILE (BOTÃO) HOVER*/
header #menu-Mobile > ul > li .btn-contato:hover {
    color: grey;
    background-color: #421c75;
}

/*PARTE DO MAIN, (CORPO)*/
main {
    padding: 0;
}


/*PRIMEIRO SECTION*/   
main .primeiro-conteudo {
    background-image: linear-gradient(to right,  #7844D2, #7241C8, #431766, #29144D);
    display: flex;
     padding: 20px;
} 

/*PARTE DA BREVE INTRODUÇÃO DO TEXTO*/
main .primeiro-conteudo .container-txt-botao {
    width: 50%;
}

/*TEXTO*/
main .primeiro-conteudo .container-txt-botao > p {
    line-height: 35px;
    color: white;
    font-family: var(--paragrafo);
    font-size: 1.5rem;
    margin: 60px 60px;
}

/*PARTE DO BOTÃO */
main .primeiro-conteudo .container-txt-botao > a {
    padding: 12px;
    background-color: white;
    color: black;
    border-radius: 50px;
    font-weight: 600;
    text-decoration: none;
    font-family: var(--botão-fonte);
    transition: .3s;
    margin: 25%;
}

/*PARTE DO BOTÃO HOVER*/
main .primeiro-conteudo .container-txt-botao > a:hover {
    background-color: var(--degradê1);
    color: rgb(255, 255, 255);
}


/*PARTE DO PRIMEIRO CONTEUDO IMG*/
main .primeiro-conteudo .img {
    width: 40%;
    height: auto;
    padding: 10px;
}

/*IMAGEM*/
main .primeiro-conteudo .img > img {
    height: 550px;
}

/*PARTE SOBRE A EMPRESA*/
main .sobre {
    background-color: white;
}

/*PARTE DO TEXTO SOBRE A EMPRESA*/
main .sobre #container-txt {
    padding: 20px;
   
}
/*PARTE SOBRE A EMPRESA H1*/
main .sobre #container-txt > h1 {
    text-align: center;
    padding: 15px;
    font-family: var(--h1);
    color: rgb(0, 0, 0);
}


/*PARTE SOBRE A EMPRESA PARAGRAFO*/
main .sobre #container-txt > p {
    line-height: 35px;
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
    font-family: var(--paragrafo);
    margin: 15px;
}

/*SPANS*/
main .sobre #container-txt > p > span {
    color: blue;
}


/*PARTE DOS SERVIÇOS*/
main .servicos {
    padding: 30px;
    background-image: linear-gradient(25deg, #a84ad7, #3F0073, #B109FF);
} 

/*SERVIÇOS (H1)*/
main .servicos h1 {
    text-align: center;
    padding: 20px;
    color: white;
    font-family: var(--h1);
}

/*PARTE DO CONTAINER*/
main .servicos .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 90px;
}

/*PARTE DAS DIVS DOS (CARDS)*/
main .servicos .container .container-servicos {
    max-width: 360px;
    max-height: 460px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
}

/*PARTE DO H2*/
main .servicos .container .container-servicos h2 {
    padding: 10px;
    font-family: var(--h2);
}

/*PARTE DO PARAGRAFO*/
main .servicos .container .container-servicos p {
    font-size: 20px;
    font-family: var(--paragrafo);
    margin-bottom: 40px;
}

/*PARTE DO BOTÃO SAIBA MAIS*/
main .servicos .container .container-servicos > a {
    background-color: #47207b;
    color: rgba(235, 235, 235, 0.87);
    padding: 13px;
    border-radius: 25px;
    text-decoration: none;
    text-align: center;
    font-family: var(--botão-fonte);
    font-weight: 600;
    transition: .3s;
}

/*BOTÃO SAIBA MAIS HOVER*/
main .servicos .container .container-servicos > a:hover {
    background-color: #9335e1;
    color: rgb(255, 255, 255);
}

/*DEPOIMENTOS*/